body{

   height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s;
    
  
}
 
h1{
  
  width: 63em;  
 display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid;
 font-size: large;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-style: italic;
 
}